name: CI

on:
  pull_request:
  push:
    branches:
      - master
      - "releases/**"

jobs:
  lint-test-build:
    name: "Lint, tests and build"
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: "package.json"
          cache: "npm"
      - name: Install dependencies
        run: npm ci --ignore-scripts
      - name: Lint and format
        run: npm run ci:lint-format
      - name: Run coverage
        run: npm run coverage
      - name: Build
        run: npm run build
      - name: Audit
        run: npm run audit
      - name: Sonar scan
        if: github.actor != 'dependabot[bot]'
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
